$bootstrap-sm:576px;
$bootstrap-md:768px;
$bootstrap-lg:992px;

@media only screen and (min-width:$bootstrap-sm){
    body{
        .limited-time-price{
            font-size:2rem;
        }
        main{    
            .heroHeader{
                padding-bottom:36%;

                .heroPrimaryText{
                    font-size:2rem;
                }
                
                .heroSecondaryText{
                    font-size:1.5rem;
                }
            }
        }
    }
}

@media only screen and (min-width:$bootstrap-md){
    .width-md-17rem{
        width:17rem;
    }

    .width-md-18rem{
        width:18rem;
    }

    .width-md-19rem{
        width:19rem;
    }

    .width-md-21rem{
        width:21rem;
    }

    .width-md-22rem{
        width:22rem;
    }

    .width-md-26rem{
        width:26rem;
    }

    .width-md-30rem{
        width:30rem;
    }

    .width-md-100{
        max-width:100% !important;
    }

    .max-width-md-75{
        max-width:75%;
        
    }

    .height-md-15rem{
        height:15rem;
    }

    .height-md-17rem{
        height:17rem;
    }

    .margin-left-17rem{
        margin-left:17rem;
    }

    .margin-md-top-8rem{
        margin-top:8rem;
    }

    .gap-md-16rem{
        gap:16rem;
    }

    .white-child-md-anchor{
        a{
            color:$whiteColor;
        }
    }

    .white-md-color{
        color:$whiteColor;
        
    }

    .md-align-self-baseline{
        align-self: baseline !important;
    }

    .md-align-items-inherit{
        align-items: inherit !important;
    }

    body{
        h1{
            font-size:3rem;
        }
        h2{
            font-size:2rem;
        }
        h3{
            font-size:1.5rem;
        }
        p{
            font-size:1.3rem;
        }
        main{
            .heroHeader{
                padding-bottom:36%;
            }
        }
        footer{
            background: linear-gradient(180deg, $lightBlue $gradiant2_1, $darkerBlue $gradiant2_2, $transitionBlue $gradiant2_3, $black $gradiant2_4);
        }
    }
}

@media only screen and (min-width:$bootstrap-lg){
    .font-size-lg-1pt5{
        font-size:1.5rem;
    }
    
    body{
        main{
            .heroHeader{
                .heroPrimaryText{
                    font-size:3rem;
                }
                
                .heroSecondaryText{
                    font-size:2rem;
                }
            }
        }
    }
}