@media only screen and (min-width:$bootstrap-md){
    .width-md-22rem{
        width:22rem;
    }

    .width-md-26rem{
        width:26rem;
    }

    .width-md-100{
        max-width:100% !important;
    }

    .max-width-md-75{
        max-width:75%;
        
    }

    .white-child-md-anchor{
        a{
            color:$whiteColor;
        }
    }

    .white-md-color{
        color:$whiteColor;
        
    }

    body{
        footer{
            background: linear-gradient(180deg, $lightBlue $gradiant2_1, $darkerBlue $gradiant2_2, $transitionBlue $gradiant2_3, $black $gradiant2_4);
        }
    }
}